main {
    .todo {
        max-width: 736px;
        margin: 0 auto;
        &__create {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            bottom: 27px;
            gap: 8px;
            input {
                flex: 1;
                height: 54px;
                background: var(--gray-500);
                border: none;
                border: 1px solid #0D0D0D;
                border-radius: 8px;
                color: var(--gray-300);
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                padding-left: 15px;
            }

            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--blueDark);
                border-radius: 8px;
                
                button {
                    width: 90px;
                    height: 52px;
                    display: flex;
                    padding: 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    color: var(--gray-100);
                    cursor: pointer;
                }
            }
        }
        &__tasks-active {
            display: flex;
            justify-content: space-between;
            margin: 36px 0 24px;
            &__create {
                display: flex;
                gap: 8px;
                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    color: var(--blue);
                }
                div {
                    width: 25px;
                    height: 19px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 999px;
                    background: var(--gray-400);
                    strong {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        color: var(--gray-200);
                    }
                }
            }
            &__complete {
                display: flex;
                gap: 8px;
                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    color: var(--purple);
                }
                div {
                    width: 25px;
                    height: 19px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 999px;
                    background: var(--gray-400);
                    strong {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        color: var(--gray-200);
                    }
                }
            }
        }
    }
}